html,body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #004643;
}

.bg-grain {
    position: absolute;
    background-image: url("./assets/noiseFilter.svg");
    mix-blend-mode: multiply;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.active {
    background-color: #f9bc60;
}