html,body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #004643;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.active {
    background-color: #f9bc60;
}